<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <ul>
                <li><a href="/" class="left brand-logo">Nav Bar</a></li>
            </ul>
            <ul class="right">
            {% if user.is_authenticated %}
                <li>Nav item</li>
                <li>Nav item</li>
                <li>Nav item</li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
  {% else %}
    <li><a href="{% url 'login' %}">Log In</a></li>
  {% endif %}
            </ul>
        </div>
    </nav>
</header>